html, body
{
    margin: 0px;
    background-color: #2F4F30;
    color: white; 
}

.title {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.carta
{
    position: relative;
    width: 150px;
    left: 170px;
    margin-left: -125px;
}

.player
{
    margin-left:50px;
}

#cpu-cartas, #jugador-cartas
{
    height: 290px;
}